@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;500&display=swap');

.banner {
    background-image: url(../images/banner.jpg);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover, contain;
    position: relative;
}

.desc-nyc {
    display: flex;
    flex-direction: column;
    margin: 40px 15%;
}

h1, h2{
    font-size: 50px;
    font-family: "Josefin", sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-align: center;
    color: rgb(255, 255, 152);
}

p {
    font-size: 25px;
    font-family: "Josefin", sans-serif;
    font-weight: 100;
    letter-spacing: 1.5px;
    text-align: justify;
    color: #fff;
}