@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;500&display=swap");

.bEestatua {
  background-image: url(../images/estatua5.jpg);
  background-repeat: no-repeat;
  background-size: cover, 0%;
  height: 600px;
}

.descLiberdade {
  display: flex;
  flex-direction: column;
  margin: 40px 15%;
}

h1 {
  font-size: 50px;
  font-family: "Josefin", sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  color: #bc2a3d;
}

h2 {
  font-family: "Josefin", sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  color: #bc2a3d;
}

p {
  font-size: 25px;
  font-family: "Josefin", sans-serif;
  font-weight: 100;
  letter-spacing: 1.5px;
  text-align: justify;
  color: #fff;
}

ul {
  color: #fff;
  font-size: 20px;
  font-family: "Josefin", sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
}

li {
  padding: 10px 0;
  word-spacing: 2px;
}

.menuBox {
  justify-content: flex-start;
  border-bottom: 1px solid #bc2a3d;
}
